<!DOCTYPE html>
<html>
  <head>
    <title><%= user.me.id %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <!--Slick Slider-->
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <!--icons-->
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
      .material-symbols-rounded {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }
      </style>
  </head>
  <body class="mx-auto">
    
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">Playlitic</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Link</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Link</a>
              </li>             
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="mx-auto">
        <div class="px-4 pt-5 pb-1 mt-5 mx-auto">
          <h1><b>Followed</b> artists</h1>
          <div class="slider mx-auto text-center">
            <% myItems.artists.items.forEach(artist => { %>
            <div class="mx-auto m-auto artist-box">
              <img src="<%= artist.images[0].url %>" alt="Spotify profile pic" width="140" height="140" class="mx-auto rounded-circle artist-img">
              <h6><%= artist.name %></h6>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <hr>
      <!--Playlist dell'utente-->
      <div class="mx-auto">
        <div class="mx-auto pb-1 px-4">
          <h1><b>Saved</b> playlists</h1>
          <div class="container-fluid mt-5">
            <div class="row">
              <% myItems.playlists.items.forEach(playlist => { %>
                <div class="col mb-5">
                  <div class="card h-100 mx-auto hover-shadow" style="width: 18rem;">
                    <img src="<%= playlist.images[0].url %>" alt="Playlist cover" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title"><%= playlist.name %></h5>
                      <p class="card-text"><%= playlist.description %></p>
                      <a href="#" class="btn btn-primary">More</a>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/javascripts/bootstrap.js"></script>
    <!--Slick Slider js-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/sliderHome.js"></script>
  </body>
</html>